# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.png
*.mp4
*.txt


!notlar.txt
!ToDoList.txt


__pycache__/
utils/

database/